*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 350px;
    justify-content: center;
    align-items: center;
}
.score-board{
    padding: 30px;
    width: 600px;
    height: 400px;
    background: #181717;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.team1 , .team2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    margin-left: 15px;
    height: 250px;
    border-radius: 10px;
    background: #000000;


}
.team1 h2, .team2 h2{
    font-size: 30px;
    margin-top: 0;
    top: 0;

}
/* for the scores */
.team1 h1 ,.team2 h1{
    font-size: 145px;
    font-family:'Orbitron', sans-serif;
    color: rgb(233, 6, 6);
}

.team1 .buttons, .team2 .buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 200px;
    width: 50px;
    padding: 10px;
    margin-right:50px;

}
button{
    margin-left:10px ;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(3, 41, 44);
    border-radius: 3px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);     cursor: pointer;

}
.reset{
    margin-left: 250px;
    margin-top: 20px;
    padding: 10px 10px;
    width: 100px;
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
